@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,700);

html, body { 
	height:							100%; 
	width:							100%;
	font-family:				Open Sans, Helvetica Neue, Helvetica;  
	}

.menu { 
	width:100%; 
	height:70px; 
	background:#3c414d;
}
ul.drawer { 
	width:							300px; 
	background:					#5f626a; 
	display:						none; 
	position: 					absolute; 
	right:							0;
}
ul.drawer li { 
	padding:						20px 30px; 
	color:							#bbbbbb; 
	border-bottom:			1px solid #4a4f5b; 
	font-family:				Helvetica Neue, Helvetica;
}
ul.drawer li:hover { background:#6b6e75; cursor:pointer;color: 							#ed4a57; }
.menu-container{ 
	width:70px; 
	height:70px; 
	background:#4b505c; 
	float:right; 
	position: relative; 
}
.menu-container:hover { background:#444955; cursor:pointer; }
#bar1 { width:19px; height:2px; background:#bbb; position: absolute; top:22px; left:24px;
	-webkit-transform: rotate(00deg); 
	-webkit-transform-origin: 9.5px 0px;
	-moz-transform: rotate(0deg);
	-moz-transform-origin: 9.5px 0px; 
	-ms-transform: rotate(0deg);
	-ms-transform-origin: 9.5px 0px;
	transform: rotate(0deg);
	transform-origin: 9.5px 0px; }
#bar2 { width:19px; height:2px; background:#bbb; position: absolute; top:32px; left:24px; 
	-webkit-transform: rotate(0deg); 
	-webkit-transform-origin: 9.5px 0px;
	-moz-transform: rotate(0deg);
	-moz-transform-origin: 9.5px 0px; 
	-ms-transform: rotate(0deg);
	-ms-transform-origin: 9.5px 0px;
	transform: rotate(0deg);
	transform-origin: 9.5px 0px; }
#bar3 { width:19px; height:2px; background:#bbb; position: absolute; top:42px; left:24px; 
	-webkit-transform: rotate(0deg); 
	-webkit-transform-origin: 9.5px 0px;
	-moz-transform: rotate(0deg);
	-moz-transform-origin: 9.5px 0px; 
	-ms-transform: rotate(0deg);
	-ms-transform-origin: 9.5px 0px;
	transform: rotate(0deg);
	transform-origin: 9.5px 0px;
}

.wrapper_top{
	background:					url(http://builtbyhq.com/menu//blur-background01.jpg);
	height:							100%; 
	width:							100%;
	max-width: 					100%;
}
.top{
	max-width: 					920px;
	margin: 						0 auto;
	padding: 						9em 0;
}
	.top img{
		display: 					block;
		margin: 					0 auto;
	}
	.top h1{
		margin-top: 			60px;
	}
.white_wrapper{
	max-width: 					100%;
	background-color: 	#fff;
	padding: 						45px 0 70px 0;
}
.white_section{
	max-width: 					920px;
	margin: 						0 auto;
	text-align: 				center;
}
.red_wrapper{
	max-width: 					100%;
	background-color: 	#ed4a57;
}
.red_section{
	max-width: 					920px;
	margin: 						0 auto;
	padding-top: 				45px;
}
	.red_section h1{
		color: 						#fff;
	}
	.red_section p{
		color: 						#fff;
		line-height: 			1.4em;
		padding: 					15px;
	}
#drip_pattern{
	background-image: 	url(http://projectwordography.com/images/drips.png);
	min-height: 				170px;
	margin-bottom: 			0;
}


#buttons{
	padding-top: 				50px;
	text-align: 				center;
}
#buttons button{
	background-color:		#ed4a57;
	border:							none;
	padding:						15px 27px;
	color:							#fff;
	margin-right: 			30px;
	margin-bottom: 			20px;
	font-size: 					16px;
}
.backers button:hover{
	background-color: 			#000;
}
#buttons button.filter.gold:hover{
	background-color: 			#f1c40f;
}
#buttons button.filter.silver:hover{
	background-color: 			#bdc3c7;
}
#buttons button.filter.bronze:hover{
	background-color: 			#cd7f32;
}
.golden{
	margin-right: 				25px;
	border: 							3px solid #FFD700;
	padding: 							20px;
	opacity: 							.65;
}
	.golden:hover{
		opacity: 1;
	}
	.golden img{
		width: 							64px;
		display: 						block;
		margin: 						0 auto;
		margin-bottom: 			15px;
	}
.silvered{
	border: 							3px solid #bdc3c7;
	padding: 							20px;
	margin-right: 				25px;
	margin-top: 					15px;
	opacity: 							.65;
}
	.silvered:hover{
		opacity: 1;
	}
	.silvered img{
		width: 							64px;
		display: 						block;
		margin: 						0 auto;
		margin-bottom: 			15px;
	}
.bronzed{
	border: 							3px solid #c3702a;
	margin-right: 				25px;
	margin-top: 					15px;
	padding: 							20px;
	opacity: 							.65;
}
	.bronzed:hover{
		opacity: 						1;
	}
	.bronzed img{
		width: 							64px;
		display: 						block;
		margin: 						0 auto;
		margin-bottom: 			15px;
	}
#Container{
	margin-top: 					40px;
}
	#Container .mix{
	  display: 						none;
	}
.video-wrapper{
	margin-top: 					50px;
}




/*     TYPOGRAPHY        */
h1{
	font-size: 					2.1em;
	text-align: 				center;
}
	h1.italic{
		font-style: 			italic;
	}
h2{
	font-size: 					1.4em;
	text-align: 				center;
}
p{
	line-height: 				20px;
}
ul.drawer li a{
	text-decoration: 		none;
	color: 							#fff;
}
ul.drawer li a:hover{
	color: 							red;
}









